<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista użytkowników</title>
</head>
<body>
    <table>
        <thead>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Rola</th>
            <th>Stawka godzinowa</th>
            <th></th>
        </thead>
        <tbody>
        <tr th:each="user: ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.role.getRoleName()}"></td>
            <td th:text="${user.salary}"></td>
            <td>
                <a th:href="@{/admin/user/edit/{id}(id=${user.id})}">Edytuj</a> /
                <a th:href="@{/admin/user/delete/{id}(id=${user.id})}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
