<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja użytkownika</title>
</head>
<body>
    <h1>Edycja użytkownika</h1>
    <form th:action="@{/admin/user/edit/{id}(id=${user.id})}" th:method="'post'" th:object="${user}">
        <label for="firstName">Imię: </label><input type="text" id="firstName" th:field="*{firstName}"><br>
        <label for="lastName">Nazwisko: </label><input type="text" id="lastName" th:field="*{lastName}"><br>
        <label for="email">E-mail: </label><input type="text" id="email" th:field="*{email}"><br>
        <label for="phone">Telefon: </label><input type="text" id="phone" th:field="*{phone}"><br>
        <label for="salary">Stawka: </label><input type="text" id="salary" th:field="*{salary}"><br>
        <label>Wybierz kurs:</label>
        <div th:if="${user.role.getRoleName()} == 'admin'"
             th:each="course: ${courseList}">
            <input type="checkbox" th:field="*{trainerCourses}" th:value="${course.getId()}">
            <span th:text="${course.name} + ' - ' + ${course.mode}"></span>
        </div>
        <div th:unless="${user.role.getRoleName()} == 'admin'"
             th:each="course: ${courseList}">
            <input type="checkbox" th:field="*{courses}" th:value="${course.getId()}">
            <span th:text="${course.name} + ' - ' + ${course.mode}"></span>
        </div>
        <input type="submit">
    </form>
</body>
</html>
