<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie trenera</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>Dodaj trenera</h1>
<form th:action="@{'/admin/trainer/dodaj/podsumowanie'}" th:method="'post'" th:object="${trainer}">
    <p th:if="${#fields.hasErrors('firstName')}"
       th:errors="*{firstName}"
        class="error"></p>
    <label for="firstName">Imię: </label>

    <input type="text" id="firstName" th:field="*{firstName}"><br>

    <label for="lastName">Nazwisko: </label><input type="text" id="lastName" th:field="*{lastName}"><br>
    <label for="email">E-mail: </label><input type="text" id="email" th:field="*{email}"><br>
    <label for="phone">Telefon: </label><input type="text" id="phone" th:field="*{phone}"><br>
    <label for="salary">Stawka godzinowa:</label>
    <input type="number" id="salary" th:field="*{salary}"><br>
    <label for="password">Podaj hasło: </label>
    <input type="password" id="password" th:field="*{password}"><br>
    <label for="confirm-password">Powtórz hasło: </label>
    <input type="password" id="confirm-password" th:field="*{confirmPassword}"><br>
    <input type="submit">
</form>
</body>
</html>
