<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie kursu</title>
</head>
<body>
<p th:if="${createdCourse}">Dodano kurs <span th:text="${createdCourse.name}"></span>
    w mieście <span th:text="${createdCourse.city}"></span></p>
<form th:action="@{'/kurs/dodaj'}" th:object="${course}" th:method="'post'">
    <label for="course-name">Nazwa kursu</label>
    <input type="text" id="course-name" th:field="*{name}">
    <label for="city">Miasto</label>
    <select id="city" th:field="*{city}">
        <option th:each="city: ${cities}" th:value="${city}" th:text="${city}"></option>
    </select>
    <label for="city">Tryb</label>
    <select id="mode" th:field="*{mode}">
        <option th:each="m: ${modeList}" th:value="${m}" th:text="${m.getDescription()}"></option>
    </select>
    <label for="startDate">Data rozpoczęcia</label>
    <input type="date" id="startDate" th:field="*{startDate}">
    <label for="endDate">Data zakończenia</label>
    <input type="date" id="endDate" th:field="*{endDate}">
    <label for="price">Cena</label>
    <input type="number" id="price" th:field="*{price}">
    <label for="trainer">Trener prowadzący</label>
    <select id="trainer" th:field="*{trainer}">
        <option th:each="t: ${trainerList}" th:value="${t.id}" th:text="${t.firstName} + ' ' +${t.lastName}"></option>
    </select>
    <input type="submit" value="Zapisz">
</form>
</body>
</html>
