<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Lista kursów</title>
</head>
<body>

    <div th:replace="fragments/header :: menu"></div>

    <table>
        <thead>
            <th>ID</th>
            <th>Nazwa kursu</th>
            <th>Tryb</th>
            <th>Data startu</th>
            <th>Data zakończenia</th>
            <th>Miasto</th>
            <th>Cena</th>
            <th>Trener prowadzący</th>
            <th></th>
        </thead>
        <tbody>
        <tr th:each="course: ${courseList}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.name}"></td>
            <td th:text="${course.mode.getDescription()}"></td>
            <td th:text="${course.startDate}"></td>
            <td th:text="${course.endDate}"></td>
            <td th:text="${course.city}"></td>
            <td th:text="${course.price}"></td>
            <td th:if="${course.trainer} != null" th:text="${course.trainer.firstName}
            + ' ' + ${course.trainer.lastName}"></td>
            <td th:unless="${course.trainer} != null"></td>
            <td><a th:href="@{/uzytkownicy/dodaj/{courseId}(courseId=${course.id})}">Zapisz się</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
