<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja na kurs</title>
</head>
<body>
    <h1>Zapisz się na kurs</h1>
    <form th:action="@{/uzytkownicy/dodaj/{courseId}/podsumowanie(courseId=${course.id})}" th:method="'post'" th:object="${user}">
        <label for="firstName">Imię: </label><input type="text" id="firstName" th:field="*{firstName}"><br>
        <label for="lastName">Nazwisko: </label><input type="text" id="lastName" th:field="*{lastName}"><br>
        <label for="email">E-mail: </label><input type="text" id="email" th:field="*{email}"><br>
        <label for="phone">Telefon: </label><input type="text" id="phone" th:field="*{phone}"><br>
        <strong>Zapisujesz się na kurs <span th:text="${course.getName()}"></span></strong><br><br>
<!--        <label>Wybierz kurs:</label>-->
<!--        <div th:each="course: ${coursesList}">-->
<!--            <input type="checkbox" th:field="*{courses}" th:value="${course.getId()}">-->
<!--            <span th:text="${course.name} + ' - ' + ${course.mode}"></span>-->
<!--        </div>-->
        <input type="submit">
    </form>
</body>
</html>
